Flask>=2.0
Flask-Login>=0.6
PyYAML>=5.4
cryptography>=3.4
psutil
beautifulsoup4
gunicorn
pyinstaller  # Tool for bundling
waitress     # Windows-compatible production server
cffi
werkzeug
pandas
tabulate
flask-sqlalchemy
sqlalchemy
requests
flask-wtf
flask-limiter
